# Aliases
alias dnsflush='dscacheutil -flushcache'
alias serve-files='python3 -m http.server'
alias zip='zip -rX'
unalias ls &>/dev/null
alias ls='ls --color'
if [ "$(which ssh-add)" != '/usr/bin/ssh-add' ]; then
  alias ssh-add=/usr/bin/ssh-add
fi

# Functions
zip-dir() {
  zip -rX $1 ${@:2} -x "**/.DS_Store"
}

docker-clean() {
  if [ -z "$1" ]; then
    exp="^<none>"
  else
    exp="$1"
  fi
  docker rmi $(docker images | grep "$exp" | awk '{ print $3; }')
}

dsremove() {
  find "${1:-.}" -name '*.DS_Store' -type f -delete
}
