[alias]
  st = status -s
  lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)(%an <%ae>)%Creset' --abbrev-commit --date=relative
[apply]
  whitespace = fix
[color]
  ui = auto
[core]
  attributesfile = ~/.gitattributes
  autocrlf = input
  editor = vim
  excludesfile = ~/.gitignore
  precomposeunicode = false
  trustctime = false
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[diff]
  renames = copies
[diff "bin"]
  textconv = hexdump -v -C
[fetch]
  prune = true
[help]
  autocorrect = 1
[merge]
  log = true
[push]
  default = current
[pull]
  rebase = true
[rebase]
  autosquash = true
[user]
  name = [GIT_USER_NAME]
  email = [GIT_USER_EMAIL]
